body {
    font-family: 'Nunito', sans-serif;
}
.p-4{
    padding: 1rem;
}
nav a {
    padding: .5rem;
}

.border-1 {
    border-width: .07rem;
}

.form div {
    margin-bottom: 15px;
}

.form div>input {
    display: block;
}

.form div>button {
    padding: 5px;
}